<div
  class="d-flex login-box justify-content-center align-items-center vh-100 bg-light"
>
  <div class="card-shadow p-4" style="width: 360px; border-radius: 15px">
    <h2 class="text-center mb-4">Login</h2>

    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        [(ngModel)]="userName"
        name="userName"
        placeholder="Username"
        (input)="onInputChange()"
      />
    </div>
    <div *ngIf="isLoginClicked && !userName" class="text-danger">
      {{ errorUserName }}
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        (input)="onInputChange()"
      />
    </div>
    <div *ngIf="isLoginClicked && !password" class="text-danger">
      {{ errorPassword }}
    </div>

    <button
      class="btn btn-primary w-100"
      (click)="onLogin()"
      [disabled]="isLoginClicked && (!userName || !password)"
    >
      Login
    </button>
  </div>
</div>
